@model IEnumerable<University.Models.Attendance>

@{
    ViewData["Title"] = "Index";
}
<div class="container" style="background-color: white">
    <h1>Пропуски</h1>
    <p>
        <a asp-action="Create" class="btn btn-success btn-sm">Добавить пропуски</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Hours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_Attendance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student.Group)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.StatusID == 2)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Attendance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.GroupId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name_Subject)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm">Изменить</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Детали</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Удалить</a>
                </td>
            </tr>
                }

            }
        </tbody>
    </table>
</div>